<section class="hero">
  <div class="row intro">
    <div class="small-12 medium-12 large-7 columns text-center center-block">
      <h1 class="show-for-small hide-for-large"><strong>JG</strong>{{ hero-title }}</h1>
      <h2 class="show-for-large"><strong>JG</strong>{{ hero-title }}</h1>
      <!-- <h3 class="show-for-small-only"><strong>JG</strong>{{ hero-title }}</h1> -->
      <p class="subtitle">I'm <strong>Julian Graf</strong> a passionate video creator striving for quality and perfection in <strong>Business</strong> | <strong>Wedding</strong> or live out <strong>My Own</strong> creativity.</p>
    </div>
  </div>
</section>
