<section class="w-welcome">
  <div class="row">
    <h2><strong>JG</strong> WEDDING</h2>
    <div class="text">
      <h4>Ihr Hochzeitsfilm</h4>
      <p><strong>JG VIDEO</strong> filmt die Feier im Standesamt mit allem Drum und Dran (Fotoshooting, Apéro, Eindrücke). Die Ausrüstung und die Anzahl Kameras sind nach Ihren Wünschen einsetzbar.</p>
      <h4>Individuelle Wünsche</h4>
      <p>Haben Sie spezielle Wünsche? Wollen Sie zusätzlich Drohnenaufnahmen, im Voraus gedrehte Szenen für Einspielungen am Hochzeitsabend oder Filme in 4K? Für JG VIDEO soll alles möglich sein. Nehmen Sie Kontakt auf und fragen Sie nach einer Offerte!</p>
      <button type="button" class="alert hollow button" name="About Me">Kontakt</button>
    </div>
  </div>
</section>
