<nav class="header medium-hidden" data-sticky-container>
  <div class="title-bar" data-sticky data-options="marginTop:0;" style="width:100%">
    <div class="title-bar-title"><div class="menu-text">JG</div></div>
    <div class="title-bar-right">
      <ul class="menu">
        <li><a href="#">Wedding</a></li>
        <li><a href="#">Business</a></li>
        <li><a href="#">Creative</a></li>
        <li><button data-toggle="aboutMeModal">About Me</button></li>
      </ul>
    </div>
  </div>
</nav>
