<section class="w-offer">
  <!-- <div class="row expanded">
    <div class="small-6 medium-3 columns">
      <div class="round w-offer-image w-offer-image-1"></div>
      <div class="">
        <h4 class="text-center">Standesamt</h4>
        <p><strong>JG VIDEO</strong> filmt die Feier im Standesamt mit allem Drum und Dran (Fotoshooting, Apéro, Eindrücke). Die Ausrüstung und die Anzahl Kameras sind nach Ihren Wünschen einsetzbar.</p>
      </div>
    </div>
    <div class="small-6 medium-3 columns">
      <div class="round w-offer-image w-offer-image-2"></div>
      <div class="">
        <h4 class="text-center">Kirche</h4>
        <p><strong>JG VIDEO</strong> filmt die kirchliche Feier mit mindestens einer Standkamera und einer geführten "Flying-Cam". Auch umfangreichere Aufnahmen sind möglich: <strong>JG VIDEO</strong> arbeitet gerne mit seinen Film-Partnern zusammen</p>
      </div>
    </div>
    <div class="small-6 medium-3 columns">
      <div class="round w-offer-image w-offer-image-3"></div>
      <div class="">
        <h4 class="text-center">Apéro</h4>
        <p><strong>JG VIDEO</strong> filmt den Apéro und die Feierlichkeit nach der Kirche und fängt emotionale Bilder und Statements der Gäste ein.</p>
      </div>
    </div>
    <div class="small-6 medium-3 columns">
        <div class="round w-offer-image w-offer-image-4"></div>
      <div class="">
        <h4 class="text-center">Abendprogramm</h4>
        <p><strong>JG VIDEO</strong> filmt den ganzen Abend lang vor und hinter der Kulisse Ihres Unterhaltungsprogramms bis der Tanzboden glüht.</p>
      </div>
    </div>
  </div> -->
  <!-- <div class="row">
    <div class="row expanded pb">
      <div class="small-6 columns w-offer-image-l w-offer-image-1"></div>
      <div class="small-6 columns text">
        <h4 class="text-center">Standesamt</h4>
        <p><strong>JG VIDEO</strong> filmt die Feier im Standesamt mit allem Drum und Dran (Fotoshooting, Apéro, Eindrücke). Die Ausrüstung und die Anzahl Kameras sind nach Ihren Wünschen einsetzbar.</p>
      </div>
    </div>
    <div class="row expanded pb">
      <div class="small-6 columns w-offer-image-l w-offer-image-2"></div>
      <div class="small-6 columns text">
        <h4 class="text-center">Kirche</h4>
        <p><strong>JG VIDEO</strong> filmt die kirchliche Feier mit mindestens einer Standkamera und einer geführten "Flying-Cam". Auch umfangreichere Aufnahmen sind möglich: <strong>JG VIDEO</strong> arbeitet gerne mit seinen Film-Partnern zusammen</p>
      </div>
    </div>
    <div class="row expanded pb">
      <div class="small-6 columns w-offer-image-l w-offer-image-3"></div>
      <div class="small-6 columns text">
        <h4 class="text-center">Apéro</h4>
        <p><strong>JG VIDEO</strong> filmt den Apéro und die Feierlichkeit nach der Kirche und fängt emotionale Bilder und Statements der Gäste ein.</p>
      </div>
    </div>
    <div class="row expanded pb">
      <div class="small-6 columns w-offer-image-l w-offer-image-4"></div>
      <div class="small-6 columns text">
        <h4 class="text-center">Abendprogramm</h4>
        <p><strong>JG VIDEO</strong> filmt den ganzen Abend lang vor und hinter der Kulisse Ihres Unterhaltungsprogramms bis der Tanzboden glüht.</p>
      </div>
    </div>
  </div> -->
  <div class="row small-collapse">
    <div class="small-12 medium-6 columns small-collapse pb w-offer-image-l w-offer-image-1">
      <div class="text"><h4 class="text-left">Standesamt</h4>
        <p><strong>JG VIDEO</strong> filmt die Feier im Standesamt mit allem Drum und Dran (Fotoshooting, Apéro, Eindrücke). Die Ausrüstung und die Anzahl Kameras sind nach Ihren Wünschen einsetzbar.</p>
            </div></div>
    <div class="small-12 medium-6 columns pb w-offer-image-l w-offer-image-2">
      <div class="text"><h4 class="text-left">Kirche</h4>
        <p><strong>JG VIDEO</strong> filmt die kirchliche Feier mit mindestens einer Standkamera und einer geführten "Flying-Cam". Auch umfangreichere Aufnahmen sind möglich: <strong>JG VIDEO</strong> arbeitet gerne mit seinen Film-Partnern zusammen</p>
            </div></div>
    <div class="small-12 medium-6 columns pb w-offer-image-l w-offer-image-3">
      <div class="text"><h4 class="text-left">Apéro</h4>
        <p><strong>JG VIDEO</strong> filmt den Apéro und die Feierlichkeit nach der Kirche und fängt emotionale Bilder und Statements der Gäste ein.</p>
            </div></div>
    <div class="small-12 medium-6 columns pb w-offer-image-l w-offer-image-4">
      <div class="text"><h4 class="text-left">Abendprogramm</h4>
        <p><strong>JG VIDEO</strong> filmt den ganzen Abend lang vor und hinter der Kulisse Ihres Unterhaltungsprogramms bis der Tanzboden glüht.</p>
            </div></div>
  </div>
</section>
