<section class="testimonials">
  <div class="testimonial-wrap">
    <div class="row text-center" style="padding-bottom:50px;">
      <h1>Testimonials</h1>
    </div>
    <div class="row">
      <div class="small-12 medium-4 columns">
      	<div class="row">
      		<div class="small-2 large-2 columns testimonial">
      			<div class="quote-marks">&#8220;</div>
      		</div>
      		<div class="small-10 large-10 columns testimonial">
      			<div class="quote">
      				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ultrices, elit sed faucibus pharetra, diam mauris bibendum orci, sit amet ullamcorper purus dui sit amet augue. Donec aliquet diam ut neque mattis, eu tristique sem rutrum.</p>
      			</div>
      			<div class="student">
      				<div class="photo"> </div>
      				<p>John Doe</p>
      				<p>Important person, some Company</p>
      			</div>
      		</div>
      	</div>
      </div>
      <div class="small-12 medium-4 columns">
      	<div class="row">
      		<div class="small-2 large-2 columns testimonial">
      			<div class="quote-marks">&#8220;</div>
      		</div>
      		<div class="small-10 large-10 columns testimonial">
      			<div class="quote">
      				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ultrices, elit sed faucibus pharetra, diam mauris bibendum orci, sit amet ullamcorper purus dui sit amet augue. Donec aliquet diam ut neque mattis, eu tristique sem rutrum.</p>
      			</div>
      			<div class="student">
      				<div class="photo"> </div>
      				<p>John Doe</p>
      				<p>Important person, some Company</p>
      			</div>
      		</div>
      	</div>
      </div>
      <div class="small-12 medium-4 columns">
      	<div class="row">
      		<div class="small-2 large-2 columns testimonial">
      			<div class="quote-marks">&#8220;</div>
      		</div>
      		<div class="small-10 large-10 columns testimonial">
      			<div class="quote">
      				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ultrices, elit sed faucibus pharetra, diam mauris bibendum orci, sit amet ullamcorper purus dui sit amet augue. Donec aliquet diam ut neque mattis, eu tristique sem rutrum.</p>
      			</div>
      			<div class="student">
      				<div class="photo"> </div>
      				<p>John Doe</p>
      				<p>Important person, some Company</p>
      			</div>
      		</div>
      	</div>
      </div>
    </div>
	</div>
</section>
