<section class="trio">
  <div class="row expanded">
    <div class="small-12 medium-4 small-centered large-uncentered columns trio_item text-center">
      <h1><strong>JG</strong>Weddings</h1>
      <div class="flex-video">
        <iframe width="415" height="234" src="https://www.youtube.com/embed/iCNhcm48MYo" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
    <div class="small-12 medium-4 columns trio_item text-center">
      <h1><strong>JG</strong>Business</h1>
      <div class="flex-video">
        <iframe width="415" height="234" src="https://www.youtube.com/embed/pclic4ETSY0" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
    <div class="small-12 medium-4 columns trio_item text-center">
      <h1><strong>JG</strong>Creative</h1>
      <div class="flex-video">
        <iframe width="415" height="234" src="https://www.youtube.com/embed/u_d7Q59u0Mg" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</section>
